<ng-container *ngIf="state$ | async as state;">
  <div [style.height]="state.viewportHeight + 'px'">
    <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>

    <div [style.height]="state.topPaddingHeight + 'px'"></div>
      <ng-container *ngFor="let item of state.data; trackBy: trackByIndex">
        <ng-container *ngTemplateOutlet="mainTemplate; context: {$implicit: item}"></ng-container>
      </ng-container>
    <div [style.height]="state.bottomPaddingHeight + 'px'"></div>

    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
  </div>
</ng-container>
